<h1>Logged In</h1>
<a href="/identify">LOGIN</a>
<a href="http://localhost:5000/admin">admin</a>
<a href="http://localhost:5000/student1">student1</a>
<a href="http://localhost:5000/student2">student2</a>
<a href="http://localhost:5000/teacher">teacher</a>