<!DOCTYPE html>
<html>
<head>
	<title>Student2 Page</title>
</head>
<body>
	<h1>Student2 Home Page</h1>
	<table>
		<thead>
			<tr>
				<th>User ID</th>
				<th>Name</th>
				<th>Role</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= userInfo.userID %></td>
				<td><%= userInfo.name %></td>
				<td><%= userInfo.role %></td>
				<td><%= userInfo.password %></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
